<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>API.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Preguntas</servlet-name>
        <servlet-class>API.Preguntas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pregunta</servlet-name>
        <servlet-class>API.Pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar</servlet-name>
        <servlet-class>API.Editar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>API.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar</servlet-name>
        <servlet-class>API.Agregar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Preguntas</servlet-name>
        <url-pattern>/Preguntas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pregunta</servlet-name>
        <url-pattern>/Pregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar</servlet-name>
        <url-pattern>/Editar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar</servlet-name>
        <url-pattern>/Agregar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
